$color-tabs: #ee936c;
$color-tab-lines: #c3c3c366;
$color-white: #ffffff;
$color-dark-text: #2b2b2b;
$color-main: #e2c3a9;
$color-black: #000000;
$color-border: #e5e5e5;
$color-container: #ffffff;
$color-light-text: #7f858a;
$color-listing: #fff3e3;
$color-background: #fbf9f9;
$color-light-border: #efefef;
$color-nav-background: #2b2b2b;
