@import '../abstracts/colors';
:root {
  //   /* dark shades of primary color*/
  //   --clr-primary-1: hsl(205, 86%, 17%);
  //   --clr-primary-2: hsl(205, 77%, 27%);
  //   --clr-primary-3: hsl(205, 72%, 37%);
  //   --clr-primary-4: hsl(205, 63%, 48%);
  //   /* primary/main color */
  //   --clr-primary-5: #49a6e9;
  //   /* lighter shades of primary color */
  //   --clr-primary-6: hsl(205, 89%, 70%);
  //   --clr-primary-7: hsl(205, 90%, 76%);
  //   --clr-primary-8: hsl(205, 86%, 81%);
  //   --clr-primary-9: hsl(205, 90%, 88%);
  //   --clr-primary-10: hsl(205, 100%, 96%);
  //   /* darkest grey - used for headings */
  //   --clr-grey-1: hsl(209, 61%, 16%);
  //   --clr-grey-2: hsl(211, 39%, 23%);
  //   --clr-grey-3: hsl(209, 34%, 30%);
  //   --clr-grey-4: hsl(209, 28%, 39%);
  //   /* grey used for paragraphs */
  //   --clr-grey-5: hsl(210, 22%, 49%);
  //   --clr-grey-6: hsl(209, 23%, 60%);
  //   --clr-grey-7: hsl(211, 27%, 70%);
  //   --clr-grey-8: hsl(210, 31%, 80%);
  //   --clr-grey-9: hsl(212, 33%, 89%);
  //   --clr-grey-10: hsl(210, 36%, 96%);
  //   --clr-white: #fff;
  //   --clr-red-dark: hsl(360, 67%, 44%);
  //   --clr-red-light: hsl(360, 71%, 66%);
  //   --clr-green-dark: hsl(125, 67%, 44%);
  //   --clr-green-light: hsl(125, 71%, 66%);
  //   --clr-secondary: hsla(182, 63%, 54%);
  //   --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

nav {
  background: $color-nav-background;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-background;
  box-shadow: var(--light-shadow);
  z-index: 1000;
}
.fixed-nav .links a {
  color: $color-light-text;
}
.fixed-nav .links a:hover {
  color: $color-main;
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 3.5rem;
  color: $color-border;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: $color-main;
}
.logo {
  align-self: center;
  margin-top: 2rem;
  min-height: 50px;
  color: $color-white;
  font-size: 2.5rem;
  padding-left: 1 rem;
}
.fixedLogo {
  align-self: center;
  margin-top: 2rem;
  min-height: 50px;
  color: $color-light-text;
  font-size: 2.5rem;
  padding-left: 1 rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 20rem;
}
.links a {
  background: $color-nav-background;
  color: $color-white;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 1rem;
}
.links a:hover {
  color: $color-tabs;
}
@media screen and (min-width: 800px) {
  nav {
    background: $color-nav-background;
  }
  .nav-center {
    width: 90vw;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: $color-white;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: $color-tabs;
    text-decoration: underline;
  }
}
/* hero */
header {
}

.container h1 {
  color: $color-white;
  text-transform: uppercase;
}
.container p {
  color: $color-white;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: $color-main;
}
#about,
#projects,
#keySkills {
  height: 60vh;
}
#services {
  background: $color-white;
}
footer {
  background: $color-nav-background;
  padding: 5rem 1rem;
  order: 4;
  min-width: 100vw;
}
footer p {
  color: $color-white;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  position: fixed;
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: $color-main;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: $color-white;
  animation: bounce 2s ease-in-out infinite;
  box-shadow: 0 0 1rem rgba($color-black, 0.349);
  transition: background-color 0.6s;

  visibility: hidden;
  z-index: -100;

  &:hover {
    background-color: darken($color-nav-background, 20%);
    color: $color-white;
    transition: all 1s;
    &:active {
      transform: scale(1.2) scaleY(1);
      background: darken($color-main, 55%);
      cursor: pointer;
    }
  }
}
.show-link {
  visibility: visible;
  z-index: 400;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
